[submodule "vendor/message-lambda"]
	path = vendor/message-lambda
	url = https://github.com/NotiCast/message-lambda
[submodule "noticast_web"]
	path = vendor/noticast_web
	url = https://github.com/NotiCast/web
